:root {
  --animate-duration: 2.5s;
}
@font-face {
	font-family: 'Okta Neue';
	src: url(/assets/fonts/Okta\ Neue.otf);
}
.col-auto.col-sm-8.col-md-6.col-lg-6.col-xl-4.item {
    box-shadow: 5px 10px 18px #dedede;
    background: #c8c6ea;
}

.navigation-clean .navbar-brand {
    color: #6351e7;
}
.twichbtn {
    margin-top: 50px;
}

.btnown {
    border-radius: 15px;
    border-width: 0;
    background-color: #0d0d0d;
    font-weight: bold;

}

.btnown:hover {
    background-color: #6cf560;
    color: #0d0d0d;
}
footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

#padbox {
    padding-bottom: 50px;
}
.fa-star {
    animation: fall cubic-bezier(0.1, -0.6, 0.2, 0);
    position: absolute;
    top: -20px;
    color: white;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}

#spin {
    animation: spinner ease-in-out;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(70deg);
    }
    75% {
        transform: rotate(130deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
h1 {
font-family: Okta Neue;
display: flex;
justify-content: center;
align-items: center;
font-size: 5.652rem;
}
.davetxt {
padding-top: 70vh;
}

svg {
    vertical-align: middle;
}
.scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    bottom: 35px;
    padding-left: 7px;
	margin-bottom: 100px;
    cursor: pointer;
    z-index: 2;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scroll-down.svg svg {
    width: 25px;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.scroll-down.svg .stroke {
    stroke: #ffffff;
}
.scroll-down.svg .scroller {
    fill: #ffffff;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}


h3 {
font-family: Okta Neue;
font-size: 5.8rem;
 }
 .swal-button--confirm {
  background-color: #141414;
}
.swal-modal{
    border-radius: 15px;
}

.swal2-container.swal2-center>.swal2-popup{
     border-radius: 15px;
}
.swalmag {
    max-width: 160px;
    border-radius: 50%;
}